apiVersion: v1
kind: Service
metadata:
  name: simple-go-http-server
  labels:
    app: simple-go-http-server
spec:
  type: ClusterIP
  ports:
  - port: 8090
    targetPort: 8090
    protocol: TCP
    name: http
  selector:
    app: simple-go-http-server
