apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-go-http-server
  labels:
    app: simple-go-http-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: simple-go-http-server
  template:
    metadata:
      labels:
        app: simple-go-http-server
    spec:
      containers:
      - name: server
        image: localhost:5001/simple-go-http-server:0.0.1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8090
          name: http
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 8090
          initialDelaySeconds: 3
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8090
          initialDelaySeconds: 3
          periodSeconds: 5
